
<!-- In the future this will be scalable with more choices and different ways of questions to be presented -->

<fieldset>
    <div class='form-group'>
        <lablel for='flowr-title'> What do you want to call this Flowr? </lablel><br>
        <input class='form-control' id='flowr-title' type='text' name='location' value='{{ flowr.title }}'/>
    </div>

    <box>
        <a href='flowr/<flowr_id>/<flowr_choice>' value='choice1'> {{ flowr.question }}</a>
            {{ flowr_choice = choice1 }}
    </box>


    <box>
        <a href='flowr/<flowr_id>/<flowr_choice>' value='choice2'> {{ flowr.question2 }}</a>
            {{ flowr_choice = choice2 }}
    </box>

</fieldset>